.fz-64 {
    font-size: 64px;
}
.pb-120 {
    padding-bottom: 120px;
}
.pb-80 {
  padding-bottom: 80px;
}
.pt-40 {
    padding-top: 40px;
}
.pt-120 {
  padding-top: 120px;
}
.pt-366 {
  padding-top: 366px;
}
.px-40 {
  padding: 0 40px;
}
.py-40 {
    padding: 40px 0;
}
.py-48 {
    padding: 48px 0;
}
.py-212 {
  padding: 212px 0;
}
.py-253 {
    padding: 253px 0;
}
.w-254 {
  width: 254px;
}
.w-550 {
  width: 550px;
}
.border-radius-top-10 {
  border-radius: 160px 160px 0 0;
}
.border-radius-top-sm-3 {
  border-radius: 48px 48px 0 0;
}