.fz-64 {
    font-size: 64px;
}
.pb-120 {
    padding-bottom: 120px;
}
.pt-40 {
    padding-top: 40px;
}
.pt-366 {
  padding-top: 366px;
}
.px-40 {
  padding: 0 40px;
}
.py-40 {
    padding: 40px 0;
}
.py-48 {
    padding: 48px 0;
}
.py-253 {
    padding: 253px 0;
}
.w-254 {
  width: 254px;
}
.w-550 {
  width: 550px;
}