<footer class=" bg-primary py-40">
    <div class="container">
        <div class="row pb-120">
            <div class="col-8">
                <h2 class="fz-64 text-secondary">催水電<br><span class="bg-secondary text-primary">TSUIDEN</span></h2>
            </div>
            <div class="col-4 text-end">
                <ul>
                    <li class="mb-4"><a class="text-white" href="#">公告</a></li>
                    <li class="mb-4"><a class="text-white" href="#">聯繫客服</a></li>
                    <li class="mb-5"><a class="text-white" href="#">常見問題</a></li>
                </ul>
                <input type="text" class="bg-primary border-light border rounded-3">
            </div>
        </div>
        <hr class="text-white">
        <div class="row pt-40">
            <div class="col text-white">Copyright © 2024-2025 Tsuiden Co., All Rights Reserved.</div>
            <div class="col text-end text-white">Back to top</div>
        </div>
    </div>
</footer>