.bg-section1 {
  background-image: url(../images/banner.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-section2 {
  background-image: url(../images/section2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}